<div class="row" style="padding: 10px;">




  <div class="col col-md-12 borde">
    <div class="row">
      <form ng-submit="post()" class="col col-md-12">
        <div class="col col-md-12">
          <div class="form-group">
            <label>Language</label>
            <select required class="form-control" ng-model="selectedCategoria" ng-options="y.txtNombre for (x, y) in categorias"></select>
            <label>Language</label>
            <select required class="form-control" ng-model="selectedOlimpiada" ng-options="y.txtNombre for (x, y) in olimpiadas"></select>
          </div>

          <label>Ingresar pregunta</label>
          <textarea required class="form-control" maxlength="200" rows="3" placeholder="Ingresar la pregunta aquí" ng-model="nuevaPregunta.txtPregunta"></textarea>
          <label>Respuesta Correcta</label>
          <textarea required class="form-control" maxlength="200" rows="3" placeholder="Ingresar la pregunta aquí" ng-model="nuevaPregunta.txtCorrecta"></textarea>
        </div>
        <div class="col col-md-12">
          <label>Respuesta Incorrecta</label>
          <textarea required class="form-control" maxlength="200" rows="3" placeholder="Ingresar la pregunta aquí" ng-model="nuevaPregunta.txtRespuesta1"></textarea>
          <label>Respuesta Incorrecta</label>
          <textarea required class="form-control" maxlength="200" rows="3" placeholder="Ingresar la pregunta aquí" ng-model="nuevaPregunta.txtRespuesta2"></textarea>
          <label>Respuesta Incorrecta</label>
          <textarea required class="form-control" maxlength="200" rows="3" placeholder="Ingresar la pregunta aquí" ng-model="nuevaPregunta.txtRespuesta3"></textarea>
          <label>Id:</label>
          <textarea disabled class="form-control" maxlength="200" rows="1"> {{nuevaPregunta.intId}}</textarea>
          <input class="form-control btn submit-btn pull-right" type="submit" value="Guardar" />
          <div class="form-control btn submit-btn pull-right" value="Limpiar" ng-click="limpiar()" >limbiar</div>
        </div>
      </form>
    </div>
  </div>






  <div class="col borde col-md-12">
    <div>
      <div>
        <h1>Categorias</h1>
        <div class="row" ng-repeat="obj in categorias | orderBy:'intId':true" ng-class-odd="'odd'" ng-class-even="'even'">
          <div class="col col-xs-12 col-sm-6 col-md-1">
            <small>Id: </small>{{obj.intId}}</div>
          <div class="col col-xs-12 col-sm-6 col-md-11">Nombre: {{obj.txtNombre}}</div>
        </div>
      </div>
      <div>
        <h1>Olimpiadas</h1>
        <div class="row" ng-repeat="obj in olimpiadas | orderBy:'intId':true" ng-class-odd="'odd'" ng-class-even="'even'">
          <div class="col col-xs-12 col-sm-6 col-md-1">
            <small>Id: </small>{{obj.intId}}</div>
          <div class="col col-xs-12 col-sm-6 col-md-11">Nombre: {{obj.txtNombre}}</div>
        </div>
      </div>

      <h1>Preguntas</h1>
      <div class="row" ng-repeat="obj in preguntas | orderBy:'intId':true" ng-class-odd="'odd'" ng-class-even="'even'">
        <div class="col col-xs-12 col-sm-6 col-md-6">Cat: {{obj.intIdCategoria}}</div>
        <div class="col col-xs-12 col-sm-6 col-md-6">Olimpiada: {{obj.intIdOlimpiada}}</div>
        <div class="col col-xs-12 col-sm-12 col-md-12">Pregunta: {{obj.txtPregunta}}</div>

        <!--
      <div class="col-xs-12 col-sm-6 col-md-3"><small>Ecuacion: </small>{{obj.txtEcuaciones}}</div>
      <div class="col-xs-12 col-sm-6 col-md-3"><small>Otro: </small>{{obj.txtOtros}}</div>
      <div class="col-xs-12 col-sm-6 col-md-3"><small>Video: </small>{{obj.txtVideo}}</div>
      <div class="col-xs-12 col-sm-6 col-md-3"><small>RespuestaOK: </small>{{obj.txtCorrecta}}</div>
      <div class="col-xs-12 col-sm-6 col-md-3"><small>RespuestaErr: </small>{{obj.txtRespuesta1}}</div>
      <div class="col-xs-12 col-sm-6 col-md-3"><small>RespuestaErr: </small>{{obj.xtRespuesta2}}</div>
      <div class="col-xs-12 col-sm-6 col-md-3"><small>RespuestaErr: </small>{{obj.txtRespuesta3}}</div>
      -->

        <div class="col col-xs-12 col-sm-6 col-md-3">
          <small>Id: </small>{{obj.intId}}</div>
      </div>
    </div>
  </div>
  <div class="col col-md-12 borde">
    <div id="post-stream">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>